services:
  postgres:
    image: postgres:16
    container_name: patient-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: patientdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
