server:
  port: 4003

spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-route
          uri: http://patient-service:8080
          predicates:
            - Path=/api/patients/**
          filters:
            - StripPrefix=1
